.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap:wrap;
}
.ui.card:first-child ,.ui.card:last-child{
  margin: 1em 0 !important; 
}
.info{
  text-align: center;
  margin-bottom: 10px;
}
footer{
  /* align-self: flex-end; */
  margin-top:auto;

}
.SubjectList{
  flex-grow: 1;
}
.subjects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 20px 0px 20px;
}

.plusButton{
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}
.SubjectForm {
  background-color: #eaeaea !important;
}
.move-enter {
  opacity: 0.01;
  transform: translate(0px, 40px)
}
.bla{
  margin-top: auto;
}
.move-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease-in;
}

.move-exit {
  opacity: 1;
  transform: translate(0, 0)
}

.move-exit-active {
  opacity: 0.5;
  transform: translate(0, -40px);
  transition: all 50ms ease-in;
}