body {
  margin: 0;
  display: grid;
  overscroll-behavior-y: contain;
  -webkit-overflow-scrolling: 'touch';
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color:rgba(0,0,0,0); 
  -webkit-tap-highlight-color: transparent;
}
@media all and (display-mode: standalone) {
  /* This is to block the ability to select any text outside of Inputs and textareas */
  :not(input):not(textarea),
  :not(input):not(textarea)::after,
  :not(input):not(textarea)::before {
      -webkit-user-select: none;
      user-select: none;
      -khtml-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      cursor: default;
  }
  input, button, textarea, :focus {
      outline: none;
  }
  /*TODO: this is supposed to disable context menu on long touch, but it disables touch*/
  a{
    /* pointer-events: none;  */
    /* pointer-events:initial !important; */
    -webkit-touch-callout: none;
  }
}
/* Dark Mode handle */
@media (prefers-color-scheme: dark) {  
  body, h1 {
    color: #fff!important;
    background-color: #121212;
  }
  a {
    color: #bb86fc;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
